@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

/* Centering Div for Image Banner */
.PageHeaderIcon {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

/* Resizing of Image Banner */
#websitelogo {
  max-height: 20%;
  width: 500px;
}

/* NavBar Flex Alignment & Color */
.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  background-color: #89939e;
}

/* Nav Bar "Button" Border */
.NavBarItem {
border: 2px solid #000000; 
}